<div class="container">
    <div class="details-header">
        <div class="row">
            <h3>{{weatherDetails?.city.name}}, {{weatherDetails?.city.country}}</h3>
        </div>
    </div>
    <div class="inner-container">
        <div class="example-action-buttons">
            <button mat-raised-button (click)="accordion.openAll()">Expand All</button>
            <button mat-raised-button (click)="accordion.closeAll()">Collapse All</button>
        </div>
        <mat-accordion class="example-headers-align" multi>
            @for (weatherData of weatherDetailsSorted; track weatherData) {
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{weatherData.data[0].dt*1000|date:'dd MMM yyyy, EEEE'}}
                    </mat-panel-title>
                    <mat-panel-description>
                        <div class="row" style="width: 100%;">
                            <div class="col-4">
                                <p>{{weatherData.data[0].main.temp}}&#176;</p>
                            </div>
                            <div class="col-4">
                                <p>{{(weatherData.data[4]?.weather[0].description||weatherData.data[0].weather[0].description)|titlecase}}</p>
                            </div>
                            <div class="col-4">
                                <img [src]="getWeatherIcon(weatherData?.data[4]?.weather[0].icon||weatherData.data[0].weather[0].icon)" alt="">
                            </div>
                        </div>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-2">
                        <p>Time</p>
                    </div>
                    <div class="col-2">
                        <p>Temperature</p>
                    </div>
                    <div class="col-2">
                        <p>Description</p>
                    </div>
                    <div class="col-2">
                        <p>Weather</p>
                    </div>
                    <div class="col-2">
                        <p>Wind</p>
                    </div>
                    <div class="col-2">
                        <p>Humidity</p>
                    </div>
                </div>
                <hr>
                @for (item of weatherData.data; track item) {
                <div class="row">
                    <div class="col-2">
                        <p>{{item.dt*1000|date:'hh:mm a'}}</p>
                    </div>
                    <div class="col-2">
                        <p>{{item.main.temp_max}}&#176; <span class="min-temp">{{item.main.temp_min}}&#176;</span></p>
                    </div>
                    <div class="col-2">
                        <p>{{item.weather[0].description|titlecase}}</p>
                    </div>
                    <div class="col-2">
                        <img [src]="getWeatherIcon(item.weather[0].icon)" alt="">
                    </div>
                    <div class="col-2">
                        <p>{{item.wind.speed}} m/s</p>
                    </div>
                    <div class="col-2">
                        <p>{{item.main.humidity}}%</p>
                    </div>
                </div>
                }
            </mat-expansion-panel>
            }
        </mat-accordion>
    </div>
</div>